<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShanoCode</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f8eef3ad52.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!-- Animations Because -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>
  <body>
  
  <nav class="navbar navbar-dark navbar-expand-md fixed-top py-0" id="mainNavBar">
        <% if(currentUser){ %>
        <a href="/projects"class="navbar-brand">Shano<span class="span">/</span>Is<span class="span">/</span>Here!</a>
            <% }else{ %>
      <a href="/projects"class="navbar-brand">Shano<span class="span">/</span>Code</a>
      <% } %>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navLinks">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="/projects" class="nav-link">PROJECTS</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">ABOUT ME</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">CONTACT ME</a>
              </li>
          </ul>
      </div>
  </nav>
  
  
  