<% include ./partials/header %>

<div class="container mt-4" style="max-width: 1200px;">
   
    <div class="row animated align-items-center fadeInUp slow">
        <div class="col-md-9 col-xs-12">
            <!-- About me rant -->
            <div class="jumbotron jumbotron-fluid shadow-lg">
                <div class="container ">
                    <h1 class="display-3 text-center">About Me</h1>
                    <hr class="my-2">
                    <p class="text-center">
                        It started when I was in high school with some C++ in Codeblocks and some console apps.
                         It was strange, it was different, but it drew me in. I wanted to do more, to create more.
                          That lead to the biggest decision of my life: to become a programmer! 
                          This decision lead me to my university in Edinburgh from the other side of the continent away,
                           made me work tirelessly to learn new things, to spend sleepless nights to finish projects and to 
                           push my knowledge and problem solving as far as I could. And now that I have finished my degree it
                            was time for me to show off! I want to be recognised by the other developers as one. I want my
                            skills to be acknowledged (And potentially find a job). To that end I decided to take up some 
                            web developement and create a website portfolio for myself. Every developer has a website
                            and I needed one. Using a web app to generate one for me, where I just fill in text seemed 
                            too much like cheating and web developement is something I never really did up until now.
                            I decided to broaden my horizons and develop this website. I want to have my simulations and code 
                            here on display for everyone, with the hope that others will be impressed by them and even learn from 
                            them. I would be very happy to hear from people about my website with questions, ideas (and hopefully job offers).
                     </p>
                     <hr class="my-2">
                     <p class="text-center">
                           If I had to describe myself, I'd say I'm a riot :D. I love having a laugh almost 
                           as much as making other people laugh. 
                           I enjoy cooking as a hobby, but my one true love is gaming (big surprise!).
                         </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-xs-12">
            <!-- Fugly pic -->
            <img src="https://i.imgur.com/41M7arh.jpg?1" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} shadow-lg" alt="">
        </div>
    </div>
    <div class="row animated fadeInUp slow">
            <div class="col-md-9 col-xs-12">
                <!-- My Uni and my code -->
                <div class="jumbotron jumbotron-fluid shadow-lg">
                    <div class="container">
                        <p class="lead"><span class="span">Academia and Code</span></p>
                        <hr class="my-2">
                        <p><i class="fas fa-scroll"></i> Graduated from the Edinburgh Napier University with a <span class="span">BSc</span> degree in<span class="span"> Games Developement</span> with a <span class="span">First Class Honours</span>.</p>
                        <p><i class="fas fa-scroll"></i> Majority of my study was done in the <span class="span">C++</span> programming language, in most cases due to personal preferrence.</p>
                        <p><span class="span"><i class="fas fa-scroll"></i></span> My university carriculum included advanced mathematics, data analytics, design patterns, algorithms and data structures, computer graphics programming, physics based simulations, concurrent and parallel programming, GPGPU optimizations, neural networks, fuzzy logic and evolutionary algorithms.</p>
                        <p><i class="fas fa-scroll"></i> I made a lot of projects using <span class="span">OpenGL</span> and <span class="span">GLSL</span></p>
                        <p><i class="fas fa-scroll"></i> <span class="span">Rendering</span> and <span class="span">Physics simulations</span> were my preferred fields of study at university and continue to be.</p>
                        <p><i class="fas fa-scroll"></i> Additionally, I have developed applications and projects using <span class="span">Java</span>, <span class="span">MySQL</span>, <span class="span">C#</span> and a few other.</p>
                        <p><i class="fas fa-scroll"></i> This website was developed using <span class="span">HTML</span>,<span class="span">CSS</span> and <span class="span">JavaScript</span> for the front end, and <span class="span">Mongoose/Mongo</span>, <span class="span">Express</span> and <span class="span">Node.js</span> for the back end. Web developement was something I learned in my free time.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <!-- links to places -->
                <div class="jumbotron jumbotron-fluid shadow-lg">
                        <div class="container text-center">
                            <hr class="my-2">
                            <a href="https://www.linkedin.com/in/anton-mitkov-1a49b410a/">  LinkedIn <span class="span"> <i class="fab fa-linkedin-in"></i></span> </a>
                            <hr class="my-2">
                            <a href="https://github.com/ShanoToni">GitHub <span class="span"><i class="fab fa-github"></i></span></a>
                            <hr class="my-2">
                        </div>
                    </div>
            </div>
        </div>
</div>

<% include ./partials/footer %>


