<% include ../partials/header %>
<div class="container">
    <div class="jumbotron mt-4 shadow-lg ">
        <h1 class="display-4 animated hinge delay-5s slow">Shano<span class="span">/</span>Code</h1>
        <p class="lead"> Anton Mitkov's Portfolio</p>
        <hr class="my-2">
        <p>Welcome to my page where I create posts of my projects, simulations and general code.</p>
    </div>    
</div>


<% if(currentUser){ %>
<div class="container mb-4">  
        <a href="/projects/new">Add new project</a>  
</div>
<% } %>
<div class="container">  
    <div class="row">
        <% projects.forEach((project) =>{ %>
            <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
                <div class="card shadow-lg animated bounceInUp fast">
                    <img class="card-img-top" src="<%=project.images[0].img %>" alt="">
                    <div class="card-body">
                    <a name="" id="cardBtn" class="btn " href="/projects/<%= project._id %>" role="button"><%=project.title %> <i class="far fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
 <div class="container-fuild text-right">
        <% if(currentUser){ %>
            <a class="text-right" href="/register">Register</a>     
            <a class="text-right" href="/logout">Logout</a>     
        <% } else{ %>
        <a class="text-right" href="/login">Login</a> 
        <% } %>
 </div>



<% include ../partials/footer %>


