<% include ../partials/header %>

<script>
    let count = 1;
    function newImage()
    {
        count++;
        let div1 = document.createElement('div');
        div1.id = count;
        // link to delete extended form elements
        let delLink = '<div style="text-align:right;margin-right:65px"><a href="javascript:delIt('+ count +')">Del</a></div>';
        div1.innerHTML = document.getElementById('newImgTmp').innerHTML + delLink;
        document.getElementById('newImg').appendChild(div1);
    }
    // function to delete the newly added set of elements
    function delIt(eleId)
    {
        d = document;
        let ele = d.getElementById(eleId);
        let parentEle = d.getElementById('newImg');
        parentEle.removeChild(ele);
    }
</script>

<div class="container">
    


<form action="/projects" method="POST">
<div class="form-group">
  <label for="">Title</label>
  <input type="text" name="title" id="" class="form-control" placeholder="project title" aria-describedby="helpId">
</div>
<div class="form-group">
  <label for="">Description</label>
  <textarea class="form-control" name="description" id="" rows="5"></textarea>
</div>

<!-- Button -->
<a href="javascript:newImage()">Add New Image </a>
<!-- Template for Image forms -->
<div id="newImg">
    <div id="newImgTmp">
        <div class="form-group">
        <label for="">Image Source</label>
            <input type="text" class="form-control" name="src[]" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" name="desc[]" id="" rows="5"><p class="text-center description">  </p></textarea>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<% include ../partials/footer %>